* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
}

h1, h2, p, ul {
  margin: 0;
}

h2 {
  font-size: 1.125em;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  padding: 0;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

.header {
  margin-top: 42px;
  text-align: center;
}
.header h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25em;
  color: #D04F4F;
  margin-bottom: 17px;
}
.header nav {
  text-align: left;
}
.header__categ {
  position: relative;
}

.bloc-page {
  width: 90%;
  max-width: 1240px;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -25px;
}
.galerie__mess {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 25px;
  padding: 10px;
  line-height: 30px;
  border: 3px solid #D04F4F;
  border-radius: 5px;
}
.galerie__mess .fa-times-circle {
  font-size: 20px;
  line-height: 30px;
}

.form-princ {
  position: relative;
}
.form-princ label {
  display: inline;
}
.form-princ input {
  padding: 23px 16px 24px 22px;
  width: 100%;
  height: 69px;
  font-size: 1.125em;
  border-radius: 5px;
  background-color: #E7E7E7;
  border: none;
}
.form-princ input::placeholder {
  color: black;
  opacity: 0.25;
}
.form-princ .fa-search {
  position: absolute;
  line-height: 69px;
  right: 17px;
}

.form-categ {
  display: none;
  position: absolute;
  top: 15px;
  width: 667px;
  font-size: 1.125em;
  color: white;
  border-radius: 5px;
  padding: 0 19px 10px 19px;
  z-index: 2;
}
.form-categ label {
  position: absolute;
  right: 20px;
  line-height: 69px;
  padding: 0 10px;
  cursor: pointer;
}
.form-categ input {
  width: calc(100% - 50px);
  height: 69px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
}
.form-categ input::placeholder {
  color: white;
  font-weight: bold;
  opacity: 0.5;
}
.form-categ__liste {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
}
.form-categ__liste li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 23%;
  line-height: 31.8px;
  cursor: pointer;
}
.form-categ__liste li:hover {
  font-weight: bold;
}
.form-categ--ingr {
  background-color: #3282F7;
  left: 0;
}
.form-categ--ingr input {
  background-color: #3282F7;
}
.form-categ--appa {
  background-color: #68D9A4;
  left: 193px;
}
.form-categ--appa input {
  background-color: #68D9A4;
}
.form-categ--uste {
  background-color: #ED6454;
  left: 387px;
}
.form-categ--uste input {
  background-color: #ED6454;
}

.bloqueur {
  content: " ";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.btn {
  position: relative;
  width: 170px;
  height: 69px;
  border: none;
  color: white;
  font-size: 1.125em;
  margin: 15px 20px 0 0;
  padding-left: 20px;
  text-align: left;
}
.btn__cont {
  font-weight: bold;
}
.btn--ingr {
  background-color: #3282F7;
}
.btn--ingr:hover {
  background-color: #0966ed;
}
.btn--appa {
  background-color: #68D9A4;
}
.btn--appa:hover {
  background-color: #3fcf8b;
}
.btn--uste {
  background-color: #ED6454;
}
.btn--uste:hover {
  background-color: #e83a26;
}
.btn .fa-chevron-down {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 69px;
}

.btn-mini {
  position: relative;
  height: 37px;
  font-size: 0.875em;
  color: white;
  border: none;
  padding: 0 55px 0 20px;
  margin: 25px 15px 0 0;
}
.btn-mini__cont {
  font-weight: bold;
}
.btn-mini .fa-times-circle {
  position: absolute;
  font-size: 20px;
  right: 22px;
  cursor: pointer;
}
.btn-mini .fa-times-circle:hover {
  font-weight: bold;
}

.plat {
  max-width: 380px;
  height: 364px;
  background-color: #E7E7E7;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin: 25px;
}
.plat img {
  display: block;
  width: 100%;
  height: 178px;
}
.plat-intro {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 16px 20px;
}
.plat-intro__icone {
  font-size: 20px;
  margin-right: 5px;
}
.plat-intro__duree {
  font-size: 1.125em;
  font-weight: bold;
}
.plat-recette {
  display: flex;
  font-size: 0.75em;
  padding: 0 18px;
}
.plat-recette__liste {
  line-height: 14.4px;
  flex: 1;
}
.plat-recette__ingr {
  font-weight: bold;
}
.plat-recette__descr {
  font-family: "Roboto", sans-serif;
  line-height: 13px;
  flex: 1;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
