@charset "UTF-8";
.secouage {
  /* Appliquée au message d'alerte (recherche infructueuse) */
  animation: secouage 50ms 8 alternate;
}

.apparition {
  /* Appliquée aux formulaires */
  animation: apparition 200ms forwards;
}

.aggrandissement {
  /* Appliquée aux boutons ouvrant les formulaires */
  animation: aggrandissement 200ms forwards;
}

.reduction {
  /* Appliquée aux boutons ouvrant les formulaires */
  animation: reduction 100ms both;
}

@keyframes apparition {
  from {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes aggrandissement {
  from {
    width: 170px;
  }
  to {
    width: 667px;
  }
}
@keyframes reduction {
  from {
    width: 667px;
  }
  to {
    width: 170px;
  }
}
@keyframes secouage {
  from {
    transform: rotate(0.35deg);
  }
  to {
    transform: rotate(-0.35deg);
  }
}
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

h1, h2, p, ul {
  margin: 0;
}

h2 {
  font-size: 1.125em;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  padding: 0;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

.header {
  margin-top: 42px;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .header {
    margin-top: 25px;
  }
}
.header h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25em;
  color: #D04F4F;
  margin-bottom: 17px;
}
.header nav {
  text-align: left;
}
.header__categ {
  position: relative;
}
@media screen and (max-width: 1266px) {
  .header__categ {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 577px;
    max-width: 100%;
    gap: 3%;
  }
}

.bloc-page {
  width: 90%;
  max-width: 1240px;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2%;
}
.galerie::after {
  content: "";
  flex: 1 350px;
  max-width: 380px;
}

.form-princ {
  position: relative;
}
.form-princ label {
  display: inline;
}
.form-princ input {
  padding: 23px 50px 24px 22px;
  width: 100%;
  height: 69px;
  font-size: 1.125em;
  border-radius: 5px;
  background-color: #E7E7E7;
  border: none;
}
.form-princ input::placeholder {
  color: black;
  opacity: 0.25;
}
.form-princ input:placeholder-shown {
  text-overflow: ellipsis;
}
.form-princ .fa-search {
  position: absolute;
  line-height: 69px;
  right: 17px;
}

.form-categ {
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 0;
  width: 667px;
  font-size: 1.125em;
  color: white;
  border-radius: 5px;
  padding: 0 19px 10px 19px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .form-categ {
    width: 100%;
  }
}
.form-categ label {
  position: absolute;
  right: 20px;
  line-height: 69px;
  padding: 0 10px;
  cursor: pointer;
}
.form-categ input {
  width: calc(100% - 50px);
  height: 69px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  color: white;
}
.form-categ input::placeholder {
  color: white;
  font-weight: bold;
  opacity: 0.5;
}
.form-categ__liste {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
}
.form-categ__liste li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 23%;
  line-height: 31.8px;
  flex: 1 180px;
  cursor: pointer;
}
.form-categ__liste li:hover {
  font-weight: bold;
}
.form-categ__liste::after {
  content: "";
  flex: 1 180px;
  height: 0;
}
.form-categ--ingr {
  background-color: #3282F7;
}
.form-categ--ingr input {
  background-color: #3282F7;
}
.form-categ--appa {
  background-color: #68D9A4;
  left: 193px;
}
@media screen and (max-width: 1266px) {
  .form-categ--appa {
    left: 0;
  }
}
.form-categ--appa input {
  background-color: #68D9A4;
}
.form-categ--uste {
  background-color: #ED6454;
  left: 386px;
}
@media screen and (max-width: 1266px) {
  .form-categ--uste {
    left: 0;
  }
}
.form-categ--uste input {
  background-color: #ED6454;
}

.bloqueur {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.btn {
  position: relative;
  width: 170px;
  height: 69px;
  font-size: 1.125em;
  margin: 20px 20px 0 0;
  text-align: left;
  border: none;
  color: white;
  padding-left: 20px;
}
@media screen and (max-width: 1266px) {
  .btn {
    margin-right: 0;
    flex: 1 150px;
    max-width: 170px;
  }
}
@media screen and (max-width: 680px) {
  .btn {
    flex: 1 135px;
    height: 45px;
    padding-left: 10px;
    max-width: 48.5%;
  }
}
.btn__cont {
  font-weight: bold;
}
.btn--ingr {
  background-color: #3282F7;
}
.btn--ingr:hover {
  background-color: #0966ed;
}
.btn--appa {
  background-color: #68D9A4;
}
.btn--appa:hover {
  background-color: #3fcf8b;
}
.btn--uste {
  background-color: #ED6454;
}
.btn--uste:hover {
  background-color: #e83a26;
}
.btn .fa-chevron-down {
  position: absolute;
  top: 0;
  right: 20px;
  line-height: 69px;
}
@media screen and (max-width: 680px) {
  .btn .fa-chevron-down {
    right: 10px;
    line-height: 45px;
  }
}

.btn-mini {
  position: relative;
  height: 37px;
  font-size: 0.875em;
  color: white;
  border: none;
  padding: 0 55px 0 20px;
  margin: 25px 15px 0 0;
}
.btn-mini__cont {
  font-weight: bold;
}
.btn-mini .fa-times-circle {
  position: absolute;
  font-size: 20px;
  right: 22px;
  cursor: pointer;
}
.btn-mini .fa-times-circle:hover {
  font-weight: bold;
}

.btn-ext {
  position: absolute;
  width: 100%;
  height: 16px;
  padding: 0;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  visibility: hidden;
  background-color: transparent;
  color: #4e4e4e;
}
.btn-ext[data-visible=true] {
  visibility: visible;
}
.btn-ext[data-ouvert=true] {
  color: white;
  background-color: #cecece;
}
.btn-ext[data-ouvert=false]:hover, .btn-ext[data-ouvert=false]:active {
  color: white;
  background-color: #cecece;
}

.plat {
  position: relative;
  flex: 1 350px;
  max-width: 380px;
  height: 364px;
  background-color: #E7E7E7;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  margin: 25px 0;
}
@media screen and (max-width: 1266px) {
  .plat {
    max-width: 49%;
  }
}
@media screen and (max-width: 680px) {
  .plat {
    max-width: 100%;
  }
}
.plat img {
  display: block;
  width: 100%;
  height: 178px;
}
.plat-intro {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.plat-intro h2 {
  line-height: 19px;
  width: calc(100% - 100px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat-intro div:nth-child(2) {
  width: 110px;
  text-align: right;
}
.plat-intro__icone {
  font-size: 20px;
  margin-right: 7px;
}
.plat-intro__duree {
  font-size: 1.125em;
  font-weight: bold;
}
.plat-recette {
  display: flex;
  font-size: 0.75em;
  padding: 0 20px 0 20px;
  gap: 3%;
}
.plat-recette [data-ellipse=false] {
  display: block;
  overflow: initial;
}
.plat-recette__liste {
  line-height: 14.4px;
  flex: 1;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  max-height: 100.8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat-recette__liste li {
  display: inline;
}
.plat-recette__liste li::after {
  content: "\a";
  white-space: pre;
}
.plat-recette__ingr {
  font-weight: bold;
}
.plat-recette__descr {
  font-family: "Roboto", sans-serif;
  line-height: 12px;
  flex: 1;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  max-height: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-bulle {
  position: absolute;
  width: auto;
  max-width: 96%;
  line-height: 18px;
  padding: 5px;
  background-color: white;
  left: 2%;
  bottom: 175px;
  border: 3px solid #818181;
  border-radius: 5px;
  visibility: hidden;
  z-index: 1;
}
.info-bulle::before {
  /* Texte */
  content: attr(data-titre);
  /* Nom enregistré lors de l'affichage de la recette */
}
.info-bulle::after {
  /* Flèche placée sous le bloc */
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #818181 transparent transparent transparent;
}

.alerte {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 25px;
  padding: 15px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #ffb300;
}
.alerte .fa-times-circle {
  padding-left: 15px;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
