.btn {
  position: relative;
  width: 170px;
  height: 69px;
  font-size: 1.125em;
  margin: 20px 20px 0 0;
  text-align: left;
  border: none;
  color: white;
  padding-left: 20px;
  @include lap-max {
    margin-right: 0;
    flex: 1 150px;
    max-width: 170px;
  }
  @include mob-max {
    flex: 1 135px;
    height: 45px;
    padding-left: 10px;
    max-width: 48.5%;
  }
  &__cont {
    font-weight: bold;
  }
  &--ingr {
    background-color: $clr-btn1;
    &:hover {
      background-color: darken($clr-btn1, 10%);
    }
  }
  &--appa {
    background-color: $clr-btn2;
    &:hover {
      background-color: darken($clr-btn2, 10%);
    }
  }
  &--uste {
    background-color: $clr-btn3;
    &:hover {
      background-color: darken($clr-btn3, 10%);
    }
  }
  .fa-chevron-down {
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 69px;
    @include mob-max {
      right: 10px;
      line-height: 45px;
    }
  }
}

.btn-mini {
  position: relative;
  height: 37px;
  font-size: 0.875em;
  color: white;
  border: none;
  padding: 0 55px 0 20px;
  margin: 25px 15px 0 0;
  &__cont {
    font-weight: bold;
  }
  .fa-times-circle {
    position: absolute;
    font-size: 20px;
    right: 22px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}

.btn-ext {
  position: absolute;
  width: 100%;
  height: 16px;
  padding: 0;
  border-radius: 0 0 5px 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  visibility: hidden;
  background-color: transparent;
  color: darken($clr-sec, 60%);
  &[data-visible="true"] {
    visibility: visible;
  }
  &[data-ouvert="true"] {
    color: white;
    background-color: darken($clr-sec, 10%);
  }
  &[data-ouvert="false"] {
    &:hover, &:active {
      color: white;
      background-color: darken($clr-sec, 10%);
    }
  }
}